.filter-bar nav {
  display: flex;

  gap: 20px;
}

.filter-bar nav .select {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}

/*
.filter-bar nav .filter-item {

  text-align: center;
  padding: 5px 10px;
  border-right: 1px solid #ccc;
}

.filter-bar nav .filter-item:last-of-type {
  border: 0;
}
.filter-bar nav .text {

  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
}

.filter-bar nav .filter-item:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.filter-bar nav .filter-item.active {

  color: var(--primary-color);
} */
