.user-list {
  width: 230px;
  min-width: 230px;
  min-height: 100vh;
  padding: 30px;
  background-color: #fbfbfb;
  color: var(--heading-color);
}
.user-list h2 {
  text-align: right;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
}
.user-list .user-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}
.user-list .wrapper {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user-list .avatar {
  width: 30px;
  height: 30px;
}
.user-list .user-status {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  border-radius: 50px;
  background-color: #04a604;
  border: 1px solid #f1f1f1;
}
