.list-view {
  overflow: auto;
  width: 100%;
}

.list-view > div {
  min-width: 350px;
}

.list-view table {
  border-collapse: collapse;
  background-color: #fbfbfb;
  color: #333;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
  border-radius: 6px;
  outline: none;
  width: 100%;
  border: none;
  text-align: left;
}

.list-view thead {
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
}

.list-view thead,
.list-view tbody {
  font-size: 85%;
  min-width: 450px;
}

.list-view th {
  padding: 8px;
}

.list-view td {
  padding: 8px;
}

.list-view tbody tr:hover {
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
  /* cursor: pointer; */
  background-color: #f1f1f1;
}
