.auth-form {
  max-width: 450px;
  margin: 0 auto;
  padding: 40px;
  /* border: 1px solid #ddd; */
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05); */
  /* background: #fff; */
}

.auth-form h2 {
  color: var(--heading-color);
}

.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.head .imagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.view-image:hover .img-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.view-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-image .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(251, 251, 251, 0.9);
  font-size: 0.8rem;
  cursor: pointer;
}

.view-image img:hover .img-hover {
  display: block;
}

.head label {
  font-size: 0.7rem;
  text-decoration: underline;
  margin: 5px auto;
  color: #333;
  cursor: pointer;
}

.head label:hover {
  color: #000;
}

.head input[type="file"] {
  display: none;
}
